.form{
    width: 100%;
	height: auto;
    padding: 30px 0;
    background-image: url('../img/fondo.webp');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @media(min-width:1199px){
        padding: 60px 0 ; 
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
        gap: 15px;

        @media(min-width:1199px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
		}
    }

    &__imagen{
        width: 100%;

         &__row{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: auto;

            &__imagen{
                width: 180px;
            }

            &__text{
                @include flex-center-center;
                p{
                    color: $Meteorite;
                    font-size: 15px;
                    padding: 3px;
                    font-family: Poppins-Bold;
            
                    @media(min-width: 1199px){
                        font-size: 18px;
                    }
                }
            }
         }
    }

    &__text{
        grid-column: 1/3;
        width: 100%;
        margin: auto;
        border-radius: 10px;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;

        &__imagen{
            width: 100%;
            position: relative;
            top: -50px;
            left: -50px;

            @media(min-width: 678px){
                width: 500px;
            }
        }

        &__text{
            width: 100%;
            @include flex-center-center;
            flex-direction: column;
            gap: 30px;

            h1{
                color: $Bluish_Purple;
                font-size: 15px;
                padding: 3px;
                font-family: Poppins-Bold;
        
                @media(min-width: 1199px){
                    font-size: 18px;
                }
            }

            &__grid{
                display: flex;
                justify-content: center;
                align-items: center;
                gap:10px;

                &__text{
                    max-width: 500px;

                    @media(min-width:1199px){
                        width: 500px;
                    }
                    p{
                        color: $Meteorite;
                        font-size: 15px;
                        padding: 3px;
                        
                
                        @media(min-width: 1199px){
                            font-size: 18px;
                        }
                    }
        
                    span{
                        font-family: Poppins-Bold;
                    }
                }

                &__imagen{
                    height: 40px;

                }
    
               
                
            }
            
        }

    }
}